:root {
	--color-header-stripe-border: #281868;
	--color-header-text: #fff;
}

.header {
	align-items: center;
	background-image: url(./assets/hero-bg-bottom.png);
	background-repeat: repeat-x;
	color: var(--color-header-text);
	display: flex;
	min-height: 30rem; /* 480px */
	position: relative;
}

.header-stripe {
	background-color: var(--color-accent-bg);
	border-bottom: 2px solid var(--color-header-stripe-border);
	border-top: 2px solid var(--color-header-stripe-border);
	box-shadow: 0 0 20px #000000ce;
	display: flex;
	justify-content: center;
	padding: var(--spacing-large);
	position: relative;
	width: 100%;
	z-index: 1;
}

.header-stripe-text {
	max-width: 45rem; /* 72px */
	padding-left: var(--spacing-medium);
	position: relative;
	width: 100%;
}

.header-stripe-text::before {
	background-color: #fff;
	bottom: 10%;
	content: "";
	left: 0;
	position: absolute;
	top: 10%;
	width: 1px;
}

.header-title {
	font-family: var(--font-family-accent);
	font-size: var(--font-size-x-large);
	font-weight: var(--font-weight-regular);
}

.header-subtitle {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-medium);
}

.header-img-overlay {
	bottom: -25%;
	position: absolute;
	right: 0;
	z-index: 2;
}

.header-frost-overlay {
	backdrop-filter: blur(2px);
	background-color: #00000055;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

/* 864px */
@media only screen and (max-width: 54em) {
	.header-img-overlay {
		bottom: -30%;
	}
}

/* 640px */
@media only screen and (max-width: 40em) {
	.header-img-overlay {
		bottom: -20%;
	}
}

/* 480px */
@media only screen and (max-width: 30em) {
	.header-img-overlay {
		bottom: -10%;
	}
}
