body {
	background: url("../resources/images/bg-pattern.png");
	background-color: var(--color-general-bg-secondary);
}

a {
	color: var(--color-link);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-medium);
	position: relative;
	text-underline-offset: 0.4em;
}

a::after {
	background-color: var(--color-accent-bg);
	bottom: -0.2em;
	content: "";
	height: 1px;
	left: -1px;
	position: absolute;
	width: 0;
}

a:hover::after {
	animation: 500ms ease 1 link-hover-after;
}

p {
	color: var(--color-text-general);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-medium);
	margin-bottom: var(--spacing-medium);
}

ul {
	color: var(--color-text-general);
	list-style: circle inside url("../resources/images/list-icon.png");
	padding: 0;
}

ul li:not(:last-child) {
	margin-bottom: var(--spacing-small);
}

footer {
	background-color: var(--color-accent-bg);
	position: relative;
	z-index: 1;
}

footer > * {
	margin: 0 auto;
	max-width: var(--max-width-content);
	padding: var(--spacing-large);
}

.container {
	background-color: var(--color-general-bg-primary);
	box-shadow: var(--box-shadow-general);
	margin: 0 auto;
	max-width: var(--max-width-content);
	position: relative;
	padding: var(--spacing-large);
	z-index: 0;
}

.container.container--no-padding {
	padding: 0;
}

.grid-duo {
	display: grid;
	gap: var(--spacing-medium);
	grid-template: 1fr / repeat(2, 1fr);
}

.grid-duo.grid-duo--no-gap {
	gap: 0;
}

.grid-duo > * {
	height: 100%;
	width: 100%;
}

@keyframes link-hover-after {
	from {
		left: -1px;
		width: 0;
	}

	50% {
		left: -1px;
		width: 100%;
	}

	to {
		left: 100%;
		width: 100%;
	}
}

/* 720px */
@media only screen and (max-width: 45em) {
	.grid-duo {
		gap: var(--spacing-large);
		grid-template: 1fr / 1fr;
	}
}
