:root {
	--color-general-bg-primary: #181D2D;
	--color-general-bg-secondary: #141621;
	--color-accent-bg: #382680;
	--color-arrow-btn-bg: #180e3480;
	--color-arrow-btn-bg--active: var(--color-general-text);
	--color-arrow-btn: var(--color-general-bg-secondary);

	--color-button-border: #ba9840;
	--color-general-border: #cfd7de;

	--color-general-text: #180e34;
	--color-heading: #fff;
	--color-options-text-primary: #faf8ed;
	--color-options-text-secondary: #41701c;

	--gradient-button: conic-gradient(
		from 45deg at 50% 50%,
		#eec048 0deg,
		#eec048 0.04deg,
		#f4ef76 360deg
	);
	--gradient-showcase-bg: linear-gradient(180deg, #180e3400 0%, #180e347d 100%);

	--border-button: 1px solid var(--color-button-border);
	--border-form: 1px solid var(--color-general-border);

	--box-shadow-general: 8px 0px 15px 0px #00000040, -8px 0px 15px 0px #00000040;

	--font-family-primary: "Raleway", serif;
	--font-family-secondary: "Philosopher", serif;
	--font-family-accent: "Windsong", serif;

	--font-size-small: 0.875rem; /* 14px */
	--font-size-medium: 1rem; /* 16px */
	--font-size-medium-large: 1.5rem; /* 24px */
	--font-size-large: 2rem; /* 32px */
	--font-size-x-large: 4rem; /* 64px */

	--font-weight-regular: 400;
	--font-weight-bold: 700;

	--spacing-medium: 1rem;
	--spacing-large: 1.5rem;

	--max-width-content: 45rem; /* 720px */
}

/* 720px */
@media only screen and (max-width: 45em) {
	:root {
		--font-size-x-large: 3rem; /* 48px */
	}
}

/* 480px */
@media only screen and (max-width: 30em) {
	:root {
		--font-size-x-large: 2.5rem; /* 40px */
	}
}
