/* ****GLOBAL STYLES**** */

/* !!ALICEBLUE, BLUEVIOLET AND BLUE ARE PLACEHOLDER COLORS!! */

html {
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0e061e;
}

h2 {
    font-family: 'Philosopher', 'Lucida Bright', 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.anchor {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 0;
    position: relative;
    bottom: 95px;
}

section {
    width: 100%;
    height: 850px;
    margin: 0;
    padding: 0;
}

/* ****BANNER STYLES**** */

.banner-bg {
    background-color: #1104278c;
    background: linear-gradient(#1104278c, #1104278c), url('./images/lilac.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 95px;
    width: 100%;
    height: 1045px;
}

.banner {
    margin: 0;
    background-image: url('./images/lilac-cropped.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 950px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

h1 {
    padding: 40px 0;
    width: 100%;
    color: #cdbbec;
    background-color: #0e061e;
    text-shadow: 5px 5px #452261;
    font-size: 7rem;
    font-family: 'Cinzel', 'Lucida Bright', 'Times New Roman', serif;
    font-weight: 700;
    z-index: 1000;
    margin: 0;
}

.banner span {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: #cdbbec;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0e061ec4;
    padding: 20px 0;
}

.banner i {
    margin: 0 10px;
}

.banner-buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.banner-buttons-container {
    background-color: #0e061e85;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.button-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d5706;
    color: #b8e2ac;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 40px 0;
    border-top: 2px solid #6a9c53;
    box-shadow: 0px 5px #081b02, 10px 0px #081b02, 10px 5px #081b02;
    font-size: 1.5rem;
    font-family: 'Philosopher', 'Lucida Bright', 'Times New Roman', serif;
    font-weight: 500;
    transition: all 150ms ease-in-out 0.1s;
}

.button-banner:hover {
    background-color: #4b8033;
    color: #ffffff;
    transition: all 0s ease-in 0s;
}

.button-banner:active {
    background-color: #143a05;
    color: #92c484;
    position: relative;
    left: 10px;
    top: 5px;
    box-shadow: none;
}

/* ****NAV BAR STYLES**** */

nav {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #1d5706;
    border-bottom: 1px solid #b8e2ac;
    width: 100%;
    height: 95px;
}

nav a {
    text-decoration: none;
    color:#b8e2ac;
}

nav ul {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    color:#b8e2ac;
    font-family: 'Philosopher', 'Lucida Bright', 'Times New Roman', serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav li {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #081b02;
    transition: all 150ms ease-in-out 0.1s;
}

nav a {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in-out 0.1s;
}

nav li:hover,
nav a:hover {
    cursor: pointer;
    background-color: #4b8033;
    color: #ffffff;
}

nav li:active,
nav a:active {
    background-color: #143a05;
    color: #92c484;
}

/* ****ABOUT ME SECTION STYLES**** */

.about-me {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
    background-color: #1e294b;
}

.filler {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #2f3d6b;
    padding: 0;
    margin: 0;
}

.about-me h2 {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb4df;
    background-color: #2f3d6b;
}

.blurb {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    color: #888dbe;
    grid-area: 3 / 2 / 9 / 3;
    margin: 20px 40px 20px 0;
}

.about-me button {
    grid-area: 9 / 2 / 10 / 3;
    width: 50%;
    background-color: #888dbe;
    color: #121b3a;
    border-radius: 50px 0;
    border-left: none;
    border-top: solid 4px #afb4df;
    border-right: none;
    border-bottom: none;
    font-family: 'Philosopher', 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0px 5px #091027, 10px 0px #091027, 10px 5px #091027;
    transition: all 150ms ease-in-out 0.1s;
}

.about-me button:hover {
    background-color: #9197d3;
    color: #1a254d;
    transition: all 0s ease-in 0s;
    cursor: pointer;
}

.about-me button:active {
    background-color: #393f72;
    color: #121b3a;
    position: relative;
    left: 10px;
    top: 5px;
    box-shadow: none;
}

.about-me .pictures {
    grid-area: 2 / 1 / 10 / 2;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.pictures figure {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.pictures img {
    height: 95%;
    padding: 0;
    margin: 0;
}

.pictures figcaption {
    height: 5%;
    padding: 10px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    color: #888dbe;
}

#photo {
    position: relative;
    right: 10000px;
}

#drawing {
    position: relative;
    left: 25%;
}

#photo-switch {
    position: relative;
    right: 10000px;
    transition: right 0s ease-in 0s;
}

#drawing-switch {
    position: relative;
    right: 0;
    transition: right 0s ease-in 0s;
}

/* ****BEST WORKS SECTION STYLES**** */

.best-works {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
    background-color: #2d1c3d;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 3 / 3;
    background-color: #563f6b;
    color: #bb9dd8;
    font-family: 'Philosopher', 'Lucida Bright', 'Times New Roman', serif;
}

.best-works h3 {
    margin: 0;
    font-size: 1.5rem;
}

.best-works h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Philosopher', 'Lucida Bright', 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 600;
    color: #8f70aa;
}

.webpages h4 {
    grid-area: 3 / 1 / 4 / 2;
}

.artwork h4 {
    grid-area: 3 / 2 / 4 / 3;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.carousel {
    background-color: aliceblue;
    width: 90%;
    height: 90%;
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8f70aa;
    color: #3b2252;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 40px 0;
    border-top: 2px solid #bb9dd8;
    box-shadow: 0px 5px #211031, 10px 0px #211031, 10px 5px #211031;
    font-size: 1.5rem;
    font-family: 'Philosopher', 'Lucida Bright', 'Times New Roman', serif;
    font-weight: 600;
    transition: all 150ms ease-in-out 0.1s;
}

.see-more a:hover {
    background-color: #a483c0;
    color: #51326e;
    transition: all 0s ease-in 0s;
}

.see-more a:active {
    background-color: #3b2252;
    color: #000000;
    position: relative;
    left: 10px;
    top: 5px;
    box-shadow: none;
}

.web-gallery {
    grid-area: 4 / 1 / 9 / 2;
}

.web-see-more {
    grid-area: 9 / 1 / 10 / 2;
}

.art-gallery {
    grid-area: 4 / 2 / 9 / 3;
}

.art-see-more {
    grid-area: 9 / 2 / 10 / 3;
}

/* ****CONTACT ME SECTION STYLES**** */

.contact {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
    background-color: #472336;
}

.contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #75415c;
    grid-area: 1 / 1 / 3 / 3;
    color: #c7a0b5;
}

.info {
    grid-area: 3 / 1 / 10 / 2;
    color: #aa7792;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin: 50px;
}

.info a,
.info .mail {
    color: #c7a0b5;
}

.info i {
    margin-right: 10px;
    color: #c7a0b5;
}

form {
    grid-area: 4 / 2 / 10 / 3;
    display: grid;
    grid-template: repeat(7, 1fr) / 1fr;
    width: 90%;
    font-family: 'Raleway', sans-serif;
    color: #c7a0b5;
    font-size: 1.5rem;
}

label.email {
    grid-area: 1 / 1 / 2 / 2;
}

input.email {
    grid-area: 2 / 1 / 3 / 2;
}

label.message {
    grid-area: 3 / 1 / 4 / 2;
}

textarea.message {
    grid-area: 4 / 1 / 7 / 2;
}

.submit {
    grid-area: 7 / 1 / 8 / 2;
}

/* ****FOOTER**** */

footer {
    display: flex;
    justify-content: start;
    align-items: end;
    background-color: #0e061e;
    color: #cdbbec;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    margin: 0;
}