.heading-3 {
	align-items: center;
	background-color: var(--color-accent-bg);
	color: var(--color-heading);
	display: flex;
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-medium-large);
	font-weight: var(--font-weight-bold);
	justify-content: center;
	padding: var(--spacing-medium);
	position: relative;
	width: 100%;
	z-index: 1;
}

.heading-3__text {
	max-width: var(--max-width-content);
	position: relative;
	text-align: center;
}
