* {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 850px;
}

/* ***ERROR 404*** */

#e404 {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 100%;
    height: 850px;
}

.e404-title {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.e404-dog-container {
    grid-area: 2 / 2 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#e404 img {
    max-width: 100%;
    max-height: 100%;
}

#e404-dog-2,
#e404-dog-3,
#e404-button-2,
#e404-button-3 {
    display: none;
}

#e404 button {
    width: 200px;
    height: 100px;
}

.e404-button-container-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: 2 / 2 / 3 / 3;
}

.e404-button-container-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: 3 / 1 / 4 / 2;
}

.e404-button-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

/* ***DOG AWAKE*** */

#dog-awake {
    display: none;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 100%;
    height: 850px;
}

.dog-awake-p-container {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dog-awake-buttons-container {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#dog-awake button {
    width: 200px;
    height: 100px;
}

.dog-awake-dog-container {
    grid-area: 2 / 2 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#dog-awake img {
    max-width: 100%;
    max-height: 100%;
}

#play-button {
    width: 100px;
}

#play-button:hover {
    cursor: pointer;
}

#head-down-dog,
#sitting-dog,
#lifted-dog,
#play-button,
#awake-2 {
    display: none;
}

.play-button-container {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* ***INTRO*** */

#intro {
    display: none;
    grid-template: 1fr / repeat(2, 1fr);
}

.pirate-intro {
    grid-area: 1 / 1 / 2 / 2;
}

.doge-intro {
    grid-area: 1 / 2 / 2 / 3;
}