/* GLOBAL */

* {
    transition: all 0.8s ease-in 0s;
}

.background-pattern {
    opacity: 0.5;
}

body {
    background-color: #cdbbec;
}


/* BANNER */

.banner-bg {
    background: linear-gradient(#cdbbec54, #cdbbec54), url('../images/lilac-oilified.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
}

/* NAV BAR */

#moon {
    color: #498034;
}

#sun {
    color: #b8e2ac;
    background: radial-gradient(closest-side, #629953b0, #b8e2ac00);
    transform: scale(1.5);
}

/* ABOUT ME */

.about-me {
    background-color: #becbf1;
}

.blurb,
.pictures figcaption {
    color: #111a35;
}

.about-me h2,
.filler,
.about-me button {
    background-color: #99aae2;
    color: #121d3f;
}

.about-me button {
    border-top: solid 4px #edf2ff;
}

.about-me button:hover {
    background-color: #a9b7e6;
    color: #203163;
}

.about-me button:active {
    background-color: #394a85;
    color: #060f29;
}

/* BEST WORKS */

.heading,
.see-more a {
    background-color: #ac8ed3;
    color: #211031;
}

.see-more a{
    border-top: 2px solid #eadcf7;
}

.see-more a:hover {
    background-color: #c3aedf;
    color: #40235c;
}

.see-more a:active {
    background-color: #583679;
    color: #200f30;
}

.best-works {
    background-color: #cfb8e4;
}

.best-works h4 {
    color: #341b4b;
}

.carousel {
    background-color: #ac8ed3;
}

.coming-soon {
    color: #341b4b;
}

/* CONTACT ME */

.contact {
    background-color: #ddaec7;
}

.contact h2,
.submit {
    color: #33071f;
    background-color: #d48bb2;
}

.submit {
    border-top: 2px solid #f7d6e7;
}

.submit:hover {
    background-color: #e2a4c4;
    color: #4e1434;
}

.submit:active {
    background-color: #6d3353;
    color: #270417;
}

.info {
    color: #6b3450;
}

.info a,
.info .mail,
.info i,
form {
    color: #6e2049;
}

input,
textarea {
    background-color: #a06485;
    color: #6e2049;
    border-top: 2px solid #1d0512;
    border-left: 1px solid #1d0512;
    border-right: 1px solid #ffeff8;
    border-bottom: 2px solid #ffeff8;
}

input:focus,
textarea:focus {
    background-color: #c589aa;
    border: 2px solid #ffeff8;
    outline: none;
}

/* FOOTER */

footer {
    color: #b8e2ac;
    background-color: #1d5706;
}

/* ***PROJECTS PAGE*** */
.box {
    background-color: #9a93d6 !important;
}

/* ***ART SHOWCASE PAGE*** */
.showcase {
    border: 2px solid #fff !important;
    background-color: #e2d5f8a1 !important;
}

.collection-name {
    color: #160738 !important;
}