html {
    --color-general-bg-primary: #F9F8FB;
    --color-general-bg-secondary: #EFF5F9;
    --color-nav-bg-primary: #A5C0F3;
    --color-nav-bg-primary--focus: #98B2E4;
    --color-nav-bg-secondary: #CBE3F9;
    --color-nav-bg-secondary--focus: #BED9F2;
    --color-accent-bg: #EEC048;
    --color-arrow-btn-bg: #180E3480;
    --color-arrow-btn-bg--focus: var(--color-general-text);
    --color-arrow-btn: var(--color-general-bg-secondary);

    --color-button-border: #BA9840;
    --color-general-border: #CFD7DE;

    --color-general-text: #180E34;
    --color-nav-text: #122440;
    --color-options-text-primary: #FAF8ED;
    --color-options-text-secondary: #41701C;

    --gradient-heading: linear-gradient(88.78deg, #C4ABF7 -14.36%, #CBAFF8 5.49%, #BDBCF7 40.45%, #AFD9F8 78.61%);
    --gradient-button: conic-gradient(from 45deg at 50% 50%, #EEC048 0deg, #EEC048 0.04deg, #F4EF76 360deg);
    --gradient-showcase-bg: linear-gradient(180deg, #180E3400 0%, #180E347d 100%);

    --border-button: 1px solid var(--color-button-border);
    --border-form: 1px solid var(--color-general-border);
    
    --box-shadow-general: 8px 0px 15px 0px #00000040, -8px 0px 15px 0px #00000040;
    --box-shadow-nav: 0px 2px 15px 0px #93ABCE;
}