:root {
	--animation-preset-idle: 3000ms linear infinite idle;
}

.switcheroo {
	/* Kind of an arbitrary height, because height 100% lets the image run too wild. 
	  Deliberately in px to avoid resizing on text zoom - it's very tricky to account
	  for in js. */
	height: 400px;
	overflow: hidden;
	position: relative;
}

.switcheroo__dragger {
	align-items: center;
	background-color: transparent;
	border: 0;
	cursor: grab;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0;
	position: absolute;
	right: 0;
	width: 24px;
	z-index: 3;
}

.switcheroo__dragger:active {
	cursor: grabbing;
}

.switcheroo__resizer {
	border-right: 1px solid var(--color-text-general);
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.switcheroo__resizer::after {
	content: url("./assets/handle.png");
	position: absolute;
	/* The lilac is 32 x 32, hence the 16px offset to center it */
	right: -16px;
	top: calc(50% - 16px);
}

.switcheroo__top-img {
	background-color: var(--color-general-bg-primary);
	height: 100%;
	padding: 5px 0 5px 24px;
	/* Basically a random width that's definitely larger than the resizer.
       That must be the case for overflow: hidden to cut off the image
       when resizing. */
	width: var(--max-width-content);
}

.switcheroo__bottom-img img,
.switcheroo__top-img img {
	animation: var(--animation-preset-idle);
	height: 100%;
}

.switcheroo__bottom-img {
	height: 100%;
	left: 0;
	padding: 5px 0 5px 24px;
	position: absolute;
	top: 0;
	/* Basically a random width that's definitely larger than the resizer.
       That must be the case for overflow: hidden to cut off the image
       when resizing. */
	width: var(--max-width-content);
	z-index: 0;
}

@keyframes sneak-peek {
	from {
		width: 100%;
	}

	45% {
		width: 40%;
	}

	55% {
		width: 40%;
	}

	to {
		width: 100%;
	}
}

@keyframes idle {
	from {
		transform: translateY(0) rotate(0);
	}

	25% {
		transform: translateY(3px) rotate(-0.5deg) translateX(1px);
	}

	30% {
		transform: translateY(3px) rotate(-0.5deg) translateX(1px);
	}

	50% {
		transform: translateY(0) rotate(0);
	}

	75% {
		transform: translateY(-3px) translateX(-1px) rotate(0.25deg);
	}

	80% {
		transform: translateY(-3px) rotate(0.25deg) translateX(-1px);
	}

	to {
		transform: translateY(0) rotate(0);
	}
}
