:host {
    --carousel-showcase-amount-of-slides: 1;
    --carousel-showcase-bg-gradient-end: #d4bcff60;
    --carousel-showcase-bg-gradient-start: #180e3400;
    --carousel-showcase-translatex: 0;
}

.carousel-showcase__info-side-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    padding: var(--spacing-large);
}

.carousel-showcase__details {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.carousel-showcase__work-titles,
.carousel-showcase__work-descs,
.carousel-showcase__slides {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(var(--carousel-showcase-amount-of-slides), 100%);
    overflow: hidden;
    width: 100%;
}

.carousel-showcase__work-titles ::slotted(*),
.carousel-showcase__work-descs ::slotted(*),
.carousel-showcase__slides ::slotted(*) {
    transform: translateX(var(--carousel-showcase-translatex));
    transition: transform 200ms ease-in-out, opacity 200ms ease-out, visibility 200ms ease-out;
}

.carousel-showcase__work-titles ::slotted(*),
.carousel-showcase__work-descs ::slotted(*) {
    width: 100%;
}

.carousel-showcase__work-titles ::slotted(*) {
    display: flex;
    justify-content: center;
}

.carousel-showcase__carousel-side {
    background: linear-gradient(180deg, var(--carousel-showcase-bg-gradient-start) 0%, var(--carousel-showcase-bg-gradient-end) 100%);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    padding: var(--spacing-large);
}

.carousel-showcase__arrows {
    display: flex;
    gap: var(--spacing-medium);
}

.carousel-showcase__arrows button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid #fff;
    border-radius: 100%;
    height: 3.5rem;
    position: relative;
    width: 3.5rem;
}

.carousel-showcase__arrows button::before {
    background-color: #7a6309;
    border-radius: 100%;
    content: "";
    inset: 10%;
    position: absolute;
    transition: background-color 100ms ease-out, inset 100ms ease-out;
    z-index: -1;
}

.carousel-showcase__arrow-left {
    background-image: url(./assets/arrow-left.png);
    border-left: 1px solid #fff;
}

.carousel-showcase__arrow-right {
    background-image: url(./assets/arrow-right.png);
    border-right: 1px solid #fff;
}

.carousel-showcase__slides {
    height: 100%;
}

.carousel-showcase__slides ::slotted(*) {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

@media (any-hover: hover) {
    .carousel-showcase__arrows button:hover::before {
        inset: 5%;
    }
}

.carousel-showcase__arrows button:active::before {
    inset: 15%;
}
